pkgbase = hyprnime
	pkgdesc = Graphical anime launcher (GTK4/libadwaita) backed by ani-cli, built for Hyprland, launchable from rofi
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/NopeVfx/hyprnime
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = ani-cli
	depends = mpv
	optdepends = vlc: alternative player
	optdepends = rofi: for the optional hyprnime-rofi companion script
	optdepends = ani-skip: for intro skipping
	optdepends = syncplay: for the Watch Party feature
	source = hyprnime-0.1.0.tar.gz::https://github.com/NopeVfx/hyprnime/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = hyprnime
